/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

::-moz-selection {
  background: #0faf6c;
  color: #e3e3e3;
}

::selection {
  background: #0faf6c;
  color: #e9cbcb;
}

html {
  font-size: 62.5%;
  border-top: 0.2rem solid #0faf6c;
}

body {
  font-size: 1.5rem;
  color: #fef2f2;
  background: #2d2f33;
}

a {
  text-decoration: none;
}

section#hero {
  width: 70%;
  height: 100%;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#hero .container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
section#hero .container .sass-art {
  position: absolute;
  background: #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  top: 10rem;
  right: 45rem;
  width: 5rem;
  height: 5rem;
}
section#hero .container .sass-art img {
  width: 3.5rem;
  height: 3.5rem;
}
section#hero .container .js-art {
  position: absolute;
  background: #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  bottom: 10rem;
  right: 40rem;
  width: 7rem;
  height: 7rem;
}
section#hero .container .js-art img {
  width: 5rem;
  height: 5rem;
}
section#hero .container .figma-art {
  position: absolute;
  background: #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  bottom: 2rem;
  right: 5rem;
  width: 10rem;
  height: 10rem;
}
section#hero .container .figma-art img {
  width: 5rem;
  height: 5rem;
}
section#hero .container .dot-one {
  position: absolute;
  background: #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  background: #0faf6c;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 35rem;
  right: 20rem;
}
section#hero .container .dot-one img {
  width: 5rem;
  height: 5rem;
}
section#hero .container .dot-two {
  position: absolute;
  background: #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
  background: #25262a;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 40rem;
  right: 25rem;
}
section#hero .container .dot-two img {
  width: 5rem;
  height: 5rem;
}
section#hero .container .hero-shape {
  position: fixed;
  top: 10rem;
  right: 30rem;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #25262a, #2d2f33);
  z-index: -1;
}
section#hero .container .main-content h1 {
  font-size: 3rem;
  line-height: 3rem;
}
section#hero .container .main-content .hero-desc {
  margin-top: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
section#hero .container .main-content .subheading {
  display: block;
  background: #0faf6c;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 2rem;
  padding: 1rem;
  color: #25262a;
  font-weight: bold;
}
section#hero .container .main-content .subheading:hover {
  border-radius: 0.3rem;
  transition: border-radius 0.5s ease-in-out;
}
section#hero .container .main-content .social-links {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
section#hero .container .main-content .social-links a {
  color: #e3e3e3;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
section#hero .container .main-content .social-links a:hover {
  color: #0faf6c;
}
section#hero .container .thumbnail {
  margin: 0;
  padding: 3rem;
}
section#hero .container .thumbnail img {
  padding: 0;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0faf6c;
  color: #fff;
  margin: auto;
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section#hero .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  section#hero .container .container {
    flex-direction: column;
  }
  section#hero .container .container .thumbnail {
    z-index: -2;
    margin-top: 2rem;
  }
  section#hero .container .container .thumbnail img {
    width: 80%;
  }
  section#hero .container .sass-art {
    z-index: -1;
    top: 23rem;
    right: 28rem;
    width: 6rem;
    height: 6rem;
    z-index: -1;
    top: 23rem;
    right: 28rem;
    width: 6rem;
    height: 6rem;
  }
  section#hero .container .sass-art img {
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
  }
  section#hero .container .js-art {
    z-index: -1;
    bottom: 6rem;
    right: 6rem;
    width: 7rem;
    height: 7rem;
    z-index: -1;
    bottom: 6rem;
    right: 6rem;
    width: 7rem;
    height: 7rem;
  }
  section#hero .container .js-art img {
    width: 3rem;
    height: 3rem;
    width: 5rem;
    height: 5rem;
    width: 3rem;
    height: 3rem;
    width: 5rem;
    height: 5rem;
  }
  section#hero .container .figma-art {
    z-index: -1;
    bottom: 15rem;
    right: 25rem;
    width: 8rem;
    height: 8rem;
    z-index: -1;
    bottom: 15rem;
    right: 25rem;
    width: 8rem;
    height: 8rem;
  }
  section#hero .container .figma-art img {
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
  }
  section#hero .container .dot-one {
    z-index: -1;
    width: 2rem;
    height: 2rem;
    bottom: 2rem;
    right: 5rem;
    z-index: -1;
    width: 2rem;
    height: 2rem;
    bottom: 2rem;
    right: 5rem;
  }
  section#hero .container .dot-one img {
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
  }
  section#hero .container .dot-two {
    z-index: -1;
    width: 4rem;
    height: 4rem;
    top: 20%;
    right: 10rem;
    z-index: -1;
    width: 4rem;
    height: 4rem;
    top: 20%;
    right: 10rem;
  }
  section#hero .container .dot-two img {
    width: 3rem;
    height: 3rem;
    width: 3rem;
    height: 3rem;
  }
  section#hero .container .hero-shape {
    display: none;
    display: none;
  }
  section#hero .container .main-content .subheading {
    margin: auto;
    margin-bottom: 3rem;
  }
  section#hero .container .main-content h1 {
    width: 100%;
  }
  section#hero .container .main-content .hero-desc {
    font-size: 1.8rem;
  }
  section#hero .container .main-content .social-links {
    margin: auto;
    margin-top: 5rem;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    width: 60%;
    font-size: 3rem;
  }
  section#hero .container .main-content .social-links li {
    margin: auto 2rem;
  }
  section#hero .container .subheading {
    margin: auto;
    margin-bottom: 3rem;
  }
  section#hero .container h1 {
    width: 100%;
  }
  section#hero .container .hero-desc {
    width: 100%;
  }
  section#hero .container .hero-cta {
    display: block;
    margin: auto;
    font-size: 2rem;
    margin-top: 3rem;
  }
  section#hero .container .thumbnail {
    z-index: -2;
    margin-bottom: 0;
  }
  section#hero .container .thumbnail img {
    width: 90%;
  }
  footer {
    height: 10vh;
    position: unset;
  }
}/*# sourceMappingURL=main.css.map */